h2,
h3 {
  margin: 10px;
  font-size: 24px;
}

.title {
  margin: 1rem 0;
}

h3 {
  font-size: 16px;
}

p {
  margin: 10px;
  font-size: 16px;
}

#map {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - 60px);
}

.box {
  position: absolute;
  top: 70px;
  left: 50px;
  z-index: 1000;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-size: 18px;
}
